/* ------------------ */
/* Custom properties  */
/* ------------------ */

:root {
  /* colors variables */
  --clr-dark: 11 13 23; /* no comma btwn values <-- new syntax */
  --clr-light: 208 214 249;
  --clr-white: 255 255 255;
}

/* ------------------ */
/* Reset              */
/* ------------------ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h5,
p,
figure,
picture {
  margin: 0;
}

html {
  height: 100%;
}

body {
  line-height: 1.5;
  height: inherit;
}

img,
picture {
  /* imgs will shrink as the place they "live in" gets smaller */
  max-width: 100%;
  display: block;
}

/* make form elements inherit font properties from their parents */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------ */
/* Utility classes    */
/* ------------------ */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: var(--container-width);
}

/* visually-hidden, only for screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* bg colors */
.bg-dark {
  background-color: rgb(var(--clr-dark));
}

.bg-light {
  background-color: rgb(var(--clr-light));
}

.bg-white {
  background-color: rgb(var(--clr-white));
}

/* text colors */
.text-dark {
  color: rgb(var(--clr-dark));
}

.text-light {
  color: rgb(var(--clr-light));
}

.text-white {
  color: rgb(var(--clr-white));
}
